.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto 1fr 2fr 0.5fr;
    grid-template-areas:
    "header"
    "navbar"
    "main"
    "aside"
    "footer";
}
main{
    grid-area:main;
    background: #3E2417;
    background: linear-gradient(0deg, rgba(62, 36, 23, 1) 0%, rgba(121, 73, 9, 1) 100%);
    padding-left: 10px;
    padding-right: 10px;
}
aside{
    grid-area:aside;
    background: #030026;
    background: linear-gradient(0deg, rgba(3, 0, 38, 1) 0%, rgba(62, 36, 23, 1) 100%);
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-nya-produkter{
    width: 150px;
    height: 245px;
    background-color:rgb(234, 253, 252);
    border: 7px solid #e67428;
    border-radius: 17px;
    padding-inline: 5px;
    box-shadow: 8px 8px 30px rgba(245, 3, 3, 0.4);
    margin-bottom: 30px;
    margin-top: 30px;
}
 .Bild_på_NYA_produkter{
    width: 100%;
    height: 72%;
}
h2{
    margin: 0px;
}
