.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto 1fr 2fr 0.5fr;
    grid-template-areas:
    "header"
    "navbar"
    "main"
    "aside"
    "footer";
}
body{
    color: rgb(35, 155, 185);
}
header{
    grid-area:header;
    background-color: #794909;
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
    justify-content: space-evenly;
}
button{
    height: 40px;
    border-radius: 17px;
    border-style: solid;
    margin-top: 15px;
}
nav{
    grid-area:navbar;
    background-color: #704005;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

    overflow: hidden;
}
nav a {
    color: rgb(1, 1, 1);
    text-decoration: none;
    padding: 0px;
    padding: 18px;
    display: block;
}
nav a:hover{
    background-color: #666;
    transition: 1s;
}
nav li {
    float: left;
}
main{
    grid-area:main;
    background: #3E2417;
    background: linear-gradient(0deg, rgba(62, 36, 23, 1) 0%, rgba(121, 73, 9, 1) 100%);
    padding-left: 10px;
    padding-right: 10px;
}
aside{
    grid-area:aside;
    background: #030026;
    background: linear-gradient(0deg, rgba(3, 0, 38, 1) 0%, rgba(62, 36, 23, 1) 100%);
    padding-left: 10px;
}
footer{
    grid-area:footer;
    background-color: #030020;
    display: flex;
    padding-left: 10px;
    text-align: center;
    justify-content: space-evenly;
}
footer .logga{
    width:15%
}
.logga{
    height: 60px;
    margin-top: 2px;
}
#links{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}
#links h4{
    width: 50%;
} 
