.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 0.5fr 0.4fr 3fr 0.5fr;
    grid-template-areas:
    "header header"
    "navbar navbar"
    "main sidebar"
    "footer footer";
}
body{
    color: rgb(35, 155, 185);
    margin: 0 !important;
}
header{
    grid-area:header;
    background-color: #794909;
    display: flex;
}
nav{
    grid-area:navbar;
    background-color: #704005;
}
main{
    grid-area:main;
    background: rgb(3,0,38);
    background: linear-gradient(0deg, rgba(3,0,38,1) 0%, rgba(121,73,9,1) 100%);
    padding-left: 10px;
    padding-right: 10px;
}
.sidebar{
    grid-area:sidebar;
    background: rgb(3,0,42);
    background: linear-gradient(0deg, rgba(3,0,42,1) 0%, rgba(125,76,10,1) 100%);
}
footer{
    grid-area:footer;
    background-color: #030020;
}
.logga{
    height: 80px;
}
