.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 0.4fr 3fr 0.5fr;
    grid-template-areas:
    "nav nav nav"
    "header header header"
    "main main sidebar"
    "footer footer footer";
}

.navbar{
    grid-area:navbar;
    background-color: #dd1b1b;
}
header{
    grid-area:header;
    background-color: #1235a7;
}
main{
    grid-area:main;
    background-color: #da80c6;
}
.sidebar{
    grid-area:sidebar;
    background-color: #d7f56d;
}
footer{
    grid-area:footer;
    background-color: green;
}
