.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr 1fr 0.4fr;
    grid-template-rows: 0.5fr 0.4fr 3fr 0.5fr;
    grid-template-areas:
    "nav nav nav nav nav"
    "header header header header header"
    "left_sidebar main main main right_sidebar"
    "footer footer footer footer footer";
}

header{
    grid-area:header;
    background-color: #1235a7;
}
.navbar{
    grid-area:navbar;
    background-color: #dd1b1b;
}
main{
    grid-area:main;
    background-color: #da80c6;
}
.left_sidebar{
    grid-area:left_sidebar;
    background-color: #d7f56d;
}
.right_sidebar{
    grid-area:right_sidebar;
    background-color: #d7f56d;
}
footer{
    grid-area:footer;
    background-color: green;
}
